<div>

  <menu></menu>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <p class="user-name-string">
        <a ui-sref="albums" rel='nofollow' class="color_inherit"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <i class="fa fa-folder" aria-hidden="true"></i>
        {{vm.albumName}}
      </p>
      <div class="images--list">
        <div class="dib images--item"
             ng-repeat="image in vm.images"
             uib-popover-template="'popover.html'"
             popover-container='body'
             popover-trigger="'mouseenter'"
             popover-placement="bottom"
             container="#container"
        >

          <div class="images--thumb-wrapper">
            <img preloader ng-src="{{image.images[0].source}}" class="images--thumb-image" alt="">
            <span class="loading"><img src="../../../styles/img/preloader64.gif"/></span>
            <span class="srcFail"><img src="../../../styles/img/no_img64.gif"/></span>
          </div>
          <div class="images--thumb-select-link">

            <a ui-sref="photo({imgId: image.id, imgCreatedTime: image.created_time, albumName: vm.albumName, albumId: vm.albumId})" class="uline">
              <i class="fa fa-check blue m3" aria-hidden="true"></i>Select</a>
          </div>
        </div>
        <div ng-show='flagEndPhotoDownload' class="loading-data">Loading data...<img src="../../../styles/img/spinner.gif" alt=""></div>
      </div>
    </div>
  </div>
</div>