<li role="presentation" ng-class="section == 'view' ? 'active' : ''">
  <a href="#/albums" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
</li>
<li role="presentation">
  <a href="#t" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-windows" aria-hidden="true"></i></a>
</li>
<li role="presentation">
  <a href="#" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
</li>
<li role="presentation">
  <a href="#" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-comment" aria-hidden="true"></i></a>
</li>
<li role="presentation">
  <a href="#" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-square-o" aria-hidden="true"></i></a>
</li>
<li role="presentation">
  <a href="#" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-flag" aria-hidden="true"></i></a>
</li>
<li role="presentation" ng-class="section == 'upload' ? 'active' : ''">
  <a href="#/upload" aria-controls="upload" role="tab" data-toggle="tab"><i class="fa fa-upload" aria-hidden="true"></i></a>
</li>