<div>
  <ul ng-include="'templates/menu.html'" class="nav nav-tabs tab--list" role="tablist"></ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <p class="user-name-string">
        <a href="#album/{{albumId}}/{{albumName}}/" rel='nofollow' class="color_inherit"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
          <i class="fa fa-folder" aria-hidden="true"></i>
          {{albumName}}
      </p>

      <div class="photo--image-wrapper">
          <img src="{{imgSrc}}" class="photo--image" alt="">
      </div>
      <div class="photo--description">
          <table class="photo-details--table">
              <tr><td class="photo-details--col1">Created:</td><td>{{imgCreatedTime | date: 'MM/dd/yyyy'}}</td></tr>
              <tr><td class="photo-details--col1">Description:</td><td>{{imgName}}</td></tr>
          </table>
      </div>
    </div>
  </div>
</div>
